.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */
.secondary-bg {
    background-color: #FFF8F3;
}
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.text-center{
    text-align: center;
}

/* header styles */
header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,top left;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul li {
    list-style: none;
    margin-right: 50px;

}

nav li a {
    text-decoration: none;
    font-size: 20px;

}

nav ul {
    display: flex;
    align-items: center;
}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;

}

.banner-title {
    font-size: 85px;
    font-weight: 700;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

.banner {
    display: flex;
    align-items: center
}

.profile-pic {
    width: 580px;

}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.main-section {
    margin-top: 130px;
    
}

/* about styles */
.about {
    margin: 50px auto;
    padding: 130px 150px;
    text-align: center;
    border-radius: 10px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}
  
.item-description {
    font-weight: 600;
}

/* skills section */

.skill-container {
    display: flex;
    gap: 24px;
    
}
.skills {
    margin-top: 130px;
    /* padding: 130px 150px; */
}

.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

/*resume section styles  */
.resume-container {
    display: flex;
    gap: 24px;
}

.experience-description, .experience-sub-title{
    font-size: 16px;
    color: #757575;
    margin-bottom: 20px;
}

.resume hr{
    margin: 30px 5px;
}

.resume-download{
    margin-top: 50px;
    text-align: center;
}

/* footer styles */
.Footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    /* background-color: #FFF8F3 */
}

.footer-column{
    width: 50%;
}

footer input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 1px solid #d5a113;
    border-radius: 5px;
    width: 50%;
    padding: 15px 30px;
}

.footer-content{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    margin-top: 30px;
}
.section-description-footer{
    width: 50%;
}

.footer-button{
    display: flex;
    align-items: center;
}